<!DOCTYPE html>
<html>
  <head>
    <title>JS Challenger</title>

    <script src="js/angular.min.js"></script>
    <script src="js/modal.min.js"></script>
    <script src="js/esprima.js"></script>

    <script src="js/editor/ace.js"></script>
    <script src="js/editor/mode-javascript.js"></script>
    <script src="js/editor/theme-twilight.js"></script>
    <script src="js/editor/worker-javascript.js"></script>

    <script src="js/main.js"></script>
    
    <link href="css/style.css" type="text/css" rel="stylesheet">
    
    <base href="/"> 
  </head>
  <body ng-app="challenger" ng-controller="ChallengeCtrl">
    <button id="createBtn" class="btn" ng-click="createNew()">Create New Challenge</button>

    <div class="prompt">
      <p ng-if="challenge.instructions">{{challenge.instructions}}</p>

      <p ng-if="challenge.allowed.length">Use the following commands:
        <ul>
          <li ng-repeat="keyword in challenge.allowed">{{keyword}}</li>
        </ul>
      </p>

      <p ng-if="challenge.notallowed.length">You cannot use any of the following keywords: 
        <ul>
          <li ng-repeat="keyword in challenge.notallowed">{{keyword}}</li>
        </ul>
      </p>

      <p ng-if="challenge.nested.length">Ensure that you include the following: 
        <ul>
          <li ng-repeat="pair in challenge.nested">{{ pair }}</li>
        </ul>
      </p>

    </div>

    <div class="userCode">
      <pre id="editor" ng-model="code">
        // your code here
      </pre>
    </div>

    <button class="btn" id="submitCode" ng-click="submitCode()">Check Your Code</button>
  </body>
</html>