<div id="createModal">
  <form name="createForm">
    
    <label for="whitelist">Allowed Commands (comma-separated): </label><input type="text" name="whitelist" ng-model="allowed">
    
    <label for="blacklist">Commands Not Allowed (comma-separated): </label><input type="text" name="blacklist" ng-model="notallowed">
    
    <label for="nested">Required Nested Structure (ex: <code>while>if</code> would mean an <code>if</code> statement inside a <code>while</code> loop)</label><input type="text" name="nested" ng-model="nested">
    
    <input type="submit" value="Submit" ng-click="create()">
  </form>
</div>